
<div class="container-fluid compare-box" style="margin-top: 231px;">
    <div class="row vertical-center">
        <div class="col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-3 add-img-box">

            <div href="#" class="thumbnail add-img">
                <img src="./img/default_img.png" class="" />
            </div>
            <textarea id="remark" class="form-control hidden" rows="2"
                      placeholder="请输入检索事由"></textarea>
            <div id="add-image-button1" class="btn  btn-lg btn-block face-button">
                <span class="fa fa-plus"></span>&nbsp;<span
                    id="add-image-button-span">添加照片</span>
            </div>


        </div>

        <div class=" col-md-2 col-lg-1 text-center similar-box">
            <canvas id="canvas" class="similar-canvas" width="200" height="200"></canvas>
            <div class="face-similar" style="margin-left: 44px; margin-top: 46.5px; display: none;">
                <p>
                    <span>相似度</span>
                </p>
                <p>
        					<span>
                    <font>99.</font>
                    <font>55%</font>
        					</span>
                </p>

            </div>
            <div class="face-type"></div>
        </div>

        <div class="col-md-3 col-lg-2 add-img-box">

            <div href="#" class="thumbnail add-img">
                <img src="./img/default_img.png" class="" />
            </div>
            <textarea id="remark" class="form-control hidden" rows="2"
                      placeholder="请输入检索事由"></textarea>
            <div id="add-image-button2" class="btn btn-lg btn-block face-button">
                <span class="fa fa-plus"></span>&nbsp;<span
                    id="add-image-button-span">添加照片</span>
            </div>


        </div>
    </div>
</div>
<script src="./template/faceMatching.js" charset="utf-8"></script>
