
<script src="js/city/distpicker.js"></script>
<!-- 人脸日志检索 -->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form">
            <div class="form-group">
                <input type="text" class="form-control" value="" id="rusername" placeholder="检索用户">
            </div>
            <div class="form-group">
                <select class="form-control" id="plat">
                    <option value="">平台</option>
                    <option value="0">pc</option>
                    <option value="1">android</option>
                    <option value="2">ios</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="company">
                    <!--["0云创","1依图","2旷视","3商汤"];-->
                    <option value="">算法</option>
                    <option value="0">通道一</option>
                    <option value="1">通道二</option>
                    <option value="2">通道三</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="chosen">
                    <option value="">是否比中</option>
                    <option value="0">是</option>
                    <option value="1">否</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="harmful">
                    <option value="">是否有害</option>
                    <option value="0">是</option>
                    <option value="1">否</option>
                    <option value="2">未知</option>
                </select>
            </div>
            <div class="form-group">
                <div data-toggle="distpicker" id="distpicker">
                    <select class="form-control" name="province"></select>
                    <select class="form-control" name="city"></select>
                    <select class="form-control" name="area"></select>
                </div>
            </div>
            <div class="form-group mydate">
                <input type="text" class="form-control" id="from" placeholder="检索时间开始"> —
                <input type="text" class="form-control" id="to" placeholder="检索时间结束">
            </div>
            <div class="form-group button-group">
                <button id="btn-query" class="btn face-button"><span class="fa fa-search" aria-hidden="true"></span>检索
                </button>
                <button id="btn-reset" class="btn face-button2"><span class="fa fa-search" aria-hidden="true"></span>重置
                </button>
                <!--<button id="btn-export" class="btn face-button2"><span class="fa fa-external-link-square" aria-hidden="true"></span>导出-->
                <!--</button>-->
                <!--<button id="btn-export" href="http://192.168.0.239:8080/FaceManage/export/expretriveLog" target="_blank" class="btn face-button"><span class="fa fa-external-link-square" aria-hidden="true">导出</button>-->
            </div>
        </div>
    </div>
    <div class="row">
        <table id="face-table" class="face-table"></table>
    </div>
    <!--子页面开始 -->
    <div class="modal fade face-modal" id="retrieveLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title">对比详情</h4>
                </div>
                <div class="modal-body">
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>
    <!--点击用户弹窗 -->
    <div class="modal fade face-modal" id="openinofModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">用户信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--点击用户查询次数弹窗 -->
    <div class="modal fade face-modal" id="countModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">查询次数</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table class="table table-bordered text-center"><thead><tr><td>次数</td><td>时间</td></tr></thead><tbody id="countbody">

                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="imgTemp" type="text/x-jquery-tmpl">
 	<div class="retrieve-log-thumbnail-box">
		<div class="thumbnail  {{= focus=='Y'?'focus':''}}">
			<img src={{= url}} alt="..." />
			<div class="caption">
				<p><span>相似度：</span><span class="similar"><font>{{= percent.toString().substring(0,3)}}</font><font>{{= percent.toString().substring(3,5)+"%"}}</font></span></p>
				 <p>姓名:{{= name}}</p>
 				 <p>证件号:{{= idNo}}</p>
				 <p>地区：{{= address}}</p>
				 <p>出生年月：{{= birthday}}</p>
				 <p>性别：{{= sex==1?'男':'女'}}</p>
         {{if focus=="Y"}}
         <p class="hidden focus-font">重点人员情况：{{= "是"}}</p>
         {{/if}}
         {{if focus=="N"}}
         <p class="hidden focus-font">重点人员情况：{{= "否"}}</p>
         {{/if}}
         {{if focus=="W"}}
         <p class="hidden focus-font">重点人员情况：{{= "未知"}}</p>
         {{/if}}
			</div>
		</div>
	</div>
</script>
<script id="openinfoTemp" type="text/x-jquery-tmpl">
<table class="table table-bordered">
                       <tr>
                            <td class='name'> 姓名:{{= name}}</td>
                            <td>
                                性别：{{= sex=="0"?'男':'女'}}
                            </td>
                        </tr>

                        <tr>

                            <td>真实姓名：{{= realname}}</td>
                            <td>证件号:{{= card}}</td>

                        </tr>
                        <tr>
                            <td>单位：<span class='unit'>{{= unit}}</span></td>
                            <td>账户到期时间：{{= expireTime}}</td>
                        </tr>
                        <tr>
                            <td>警号：{{= policynum}}</td>

                            <td>手机号：{{= telephone}}</td>
                        </tr>
                        <tr>
                            <td>职务：{{= duty}}</td>

                            <td>用户状态：{{= userstatus=="Y"?'正常':'停用'}}</td>
                        </tr>

                        <tr>
                            <td class='count'>人脸检索（次数）：{{= retrieveCount}}</td>
                            <td class='count'>人脸比对（次数）：{{= compareCount}}</td>
                        </tr>
                        <tr>
                            <td class='count'>身份检索（次数）：{{= idCardCount}}</td>
                            <td class='count'>登录（次数）：{{= loginCount}}</td>
                        </tr>

                        </table>
</script>
<script type="text/javascript" src="./template/faceRetrievalLog.js"></script>
