
<script src="js/city/distpicker.js"></script>
<!-- 人脸库管理 -->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form" id="userdiv">
            <div class="form-group">
                <input type="text" placeholder="姓名" id="uRealName" class="form-control" style="width:150px;">
            </div>
            <div class="form-group">
                <select id="uUnitId" class="form-control" path="uUnitId" name="uUnitId" style="width:100px;color:#555;">
                    <option value="" selected="selected">-机构-</option>
                    <select>
            </div>
            <div class="form-group">
                <button class="btn  face-button" onclick="getTable()" id="search">
                    <span class="fa fa-search"></span> 搜索
                </button>
            </div>
            <div class="form-group">
                <button class="btn face-button2" onclick="reset()" id="reset">
                    <span class="fa fa-repeat"></span> 重置
                </button>
            </div>
            <div class="form-group">
                <button class="btn face-button"
                        onclick="addUser()" type="button" id="new">
                    <i class="fa fa-plus"></i> 新建
                </button>
            </div>

        </div>
        <table id="facedataTable" data-side-pagination="server" class="table table-striped face-table">
            <thead>
            <tr>
                <th data-field="" data-checkbox="true"></th>
                <th data-field="id" data-halign="center" data-align="center" data-valign="middle" class="hidden">序号
                </th>
                <th data-field="dbname" data-halign="center" data-align="center" data-valign="middle">库名</th>
                <th data-field="operate" data-halign="center" data-align="center" data-valign="middle">建库者</th>
                <th data-field="type" data-halign="center" data-align="center"  data-formatter="typeFormatter" data-valign="middle">库类型</th>
                <th data-field="count" data-halign="center" data-align="center" data-valign="middle">库容量</th>
                <th data-field="organ" data-halign="center" data-align="center" data-valign="middle">库所属机构</th>
                <th data-field="createtime" data-halign="center" data-align="center" data-valign="middle">建库时间</th>

                <th  data-halign="center" data-align="center" data-valign="middle"
                    data-formatter="operateFormatter" data-events="operateEvents">操作
                </th>
            </tr>
            </thead>
            <tbody id="body"></tbody>
        </table>
    </div>
</div>
<!-- 提示modal -->
<div class="modal fade face-modal " id="deptModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true"></button>
                <h4 class="modal-title text-center">提示</h4>
            </div>
            <div class="modal-body" id="modal-body-text" style="text-align:center;"></div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn face-button">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 解绑提示modal -->
<div class="modal fade face-modal " id="unbindTModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="unbind">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">X
                </button>
                <h4 class="modal-title text-center">提示</h4>
            </div>
            <div class="modal-body" id="unbind-text" style="text-align:center;"></div>
            <div class="modal-footer">
                <button type="button" id="cancel" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" id="continue" class="btn face-button">确定</button>
            </div>
        </div>
    </div>
</div>
<!-- 删除用户提示modal -->
<div class="modal fade face-modal " id="delUserTModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">X
                </button>
                <h4 class="modal-title text-center">提示</h4>
            </div>
            <div class="modal-body" id="modal-body-text" style="text-align:center;"></div>
            <div class="modal-footer">
                <button type="button" id="cancel" data-dismiss="modal" class="btn btn-default">取消</button>
                <button type="button" id="continue" class="btn face-button">确定</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="rowUId"/>
<input type="hidden" id="username"/>

<!-- 添加 -->
<div class="modal fade face-modal" id="adduserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width:800px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h4 class="modal-title text-center" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form id="userForm" modelAttribute="user" class="form-horizontal" role="form">
                    <div class="form-inline face-form">
                        <div class="form-group" style="margin-left:85px;">
                            库名称</div>
                        <div class="form-group" style="margin-left:5px;">
                            <input type="text" class="form-control" path="uName" name="uName" placeholder="用户名"
                                   id="uName">
                        </div>
                    </div>

                    <div class="form-inline face-form " style="margin-top:12px; ">
                        <div class="form-group " style="margin-left:45px; ">行政区域</div>
                        <div class="form-group " style="margin-left:30px; ">
                            <div data-toggle="distpicker" id="distpicker" path="uArea" name="uArea">
                                <select class="form-control" name="province"></select>
                                <select class="form-control" name="city"></select>
                                <select class="form-control" name="area"></select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center ">
                <button type="button " data-dismiss="modal " id="cancel" class="btn btn-default ">取消</button>
                <button type="button " id="continue" class="btn face-button ">确定</button>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript' src="./template/faceDatabase.js" charset='utf-8'></script>
