
<script src="js/city/distpicker.js"></script>
<!-- 人脸日志搜索 -->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form">
            <div class="form-group">
                <input type="text" class="form-control" id="iusername" placeholder="搜索用户">
            </div>
            <div class="form-group">

                <select class="form-control" id="plat">
                    <option value="">来源</option>
                    <option value="0">pc</option>
                    <option value="1">android</option>
                    <option value="2">ios</option>
                </select>
            </div>
            <div class="form-group">
                <!--["0云创","1依图","2旷视","3商汤"];-->
                <select class="form-control" id="company">
                  <option value="">算法</option>
                  <option value="0">通道一</option>
                  <option value="1">通道二</option>
                  <option value="2">通道三</option>
                </select>
            </div>
            <div class="form-group">
                <div data-toggle="distpicker" id="distpicker">
                    <select class="form-control" name="province"></select>
                    <select class="form-control" name="city"></select>
                    <select class="form-control" name="area"></select>
                </div>
            </div>
            <div class="form-group mydate">
                <input type="text" class="form-control" id="from" placeholder="搜索时间开始"> —
                <input type="text" class="form-control" id="to" placeholder="搜索时间结束">
            </div>
            <div class="form-group button-group">
                <button id="btn-query" class="btn face-button"><span class="fa fa-search" aria-hidden="true"></span>搜索</button>
                <button id="btn-reset" class="btn face-button2"><i class="glyphicon glyphicon-repeat" aria-hidden="true"></i>重置</button>
                <a id="btn-export" href="http://192.168.0.169:8080/FaceManage/export/expretriveLog" target="_blank" class="btn face-button"><span class="fa fa-external-link-square" aria-hidden="true">导出</a>
            </div>
        </div>
    </div>
    <div class="row">
        <table class="face-table"></table>
    </div>
    <!--子页面开始 -->
    <div class="modal fade face-modal" id="faceLogModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title">搜索人员详情</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--点击用户弹窗 -->
    <div class="modal fade face-modal" id="openinofModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">用户信息</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--点击用户查询次数弹窗 -->
    <div class="modal fade face-modal" id="countModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                            class="fa fa-times" aria-hidden="true"></span></button>
                    <h4 class="modal-title text-center">查询次数</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <table data-side-pagination="server" class="table table-bordered" id="counttable2"><thead><tr><td>次数</td><td>时间</td></tr></thead><tbody id="countbody">

                        </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script id="imgDetial" type="text/x-jquery-tmpl">
 	<div class="retrievelogBox">
    <div class="detailPhotos">
      <img src="${imgAddrs}" alt="">
    </div>
    <div class="imgDetails">
        <h4>人员信息</h4>
        <p><b>身&nbsp;份&nbsp;证&nbsp;号</b>：<span>${idno}</span></p>
        <p><b>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</b>：<span>${name}</span></p>
        <p><b>民&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;族</b>：<span>${nation}</span></p>
        <p><b>性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</b>：<span>{{= sex==1?'男':'女'}}</span></p>
        <p><b>生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</b>：<span>${birthday}</span></p>
    </div>
	</div>
</script>
<script id="userDetial" type="text/x-jquery-tmpl">
<table class="table table-bordered">
                       <tr>
                            <td class='name'> 姓名:{{= name}}</td>
                            <td>
                                性别：{{= sex=="0"?'男':'女'}}
                            </td>
                        </tr>

                        <tr>

                            <td>证件号:{{= card}}</td>

                        </tr>
                        <tr>
                            <td>单位：<span class='unit'>{{= unit}}</span></td>
                            <td>账户到期时间：{{= expireTime}}</td>
                        </tr>
                        <tr>
                            <td>警号：{{= policynum}}</td>

                            <td>账号级别：{{= usertype}}</td>
                        </tr>
                        <tr>
                            <td>职务：{{= duty}}</td>

                            <td>用户状态：{{= userstatus=="Y"?'正常':'停用'}}</td>
                        </tr>

                        <tr>
                            <td class='count'>人脸搜索（次数）：{{= retrieveCount}}</td>
                            <td class='count'>人脸比对（次数）：{{= compareCount}}</td>
                        </tr>
                        <tr>
                            <td class='count'>身份搜索（次数）：{{= idCardCount}}</td>
                            <td class='count'>登录（次数）：{{= loginCount}}</td>
                        </tr>

                        </table>
</script>
<script type="text/javascript" src="./template/identityRetrievalLog.js"></script>
