<style type="text/css">
	.datepicker .datepicker-months table tr td span {
	  width: 100%;
	}
</style>
<!-- 比中率统计3 以下-->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form" style="margin-bottom:-44px;">
            <div class="form-group">
                <select id="timestatus" class="form-control" onchange="changeTime()">
                    <option selected value="0">按年统计</option>
                    <option value="3">按季统计</option>
                    <option value="1">按月统计</option>
                    <option  value="2">按日统计</option>
                </select>
            </div>
            <div class="form-group mydate">
                <input size="22" type="text" id="startDate" class="form-control"
                       placeholder="开始时间">
                <input size="22" type="text" id="endDate" class="form-control" placeholder="结束时间">
            </div>
            <div class="form-group mydateQ" style="display: none;">
                <input size="22" type="text" id="QDate" class="form-control" placeholder="请选择季度">
            </div>
            <div class="form-group button-group">
                <a class="btn face-button" onclick="getMessage3()" id="btn-query"><span class="fa fa-search"
                                                                                        aria-hidden="true"></span>搜索
                </a>
                <a class="btn face-button2" onclick="reset3()" id="btn-reset"><span class="fa fa-search"
                                                                                    aria-hidden="true"></span>重置
                </a>
            </div>
        </div>
    </div>
    <div class="row tablediv">
        <table id="proportion" class="table table-striped face-table" data-toggle="table">
            <thead>
            <tr>
                <th data-field="date" >起始时间</th>
                <th data-field="plat" >平台比中数</th>
                <th data-field="platcount" >平台比对数</th>
                <th data-field="platper" >平台准确率</th>
                <th data-field="app" >app比中数</th>
                <th data-field="appcount" >app比对量</th>
                <th data-field="appper" >app准确率</th>
            </tr>
            </thead>
            <tbody id="countBody3">
            </tbody>
        </table>


    </div>
</div>
<script src="./template/ratioStatistics.js" charset="utf-8"></script>
