
<!-- 比中率统计3 以下-->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form" style="margin-bottom:-44px;">
            <div class="form-group">
                <select id="timestatus" class="form-control" onchange="changeTime()">
                    <option value="-1">统计方式</option>
                    <option value="0">按年统计</option>
                    <option value="1">按月统计</option>
                    <option value="2">按天统计</option>
                    <option value="3">按时统计</option>
                </select>
            </div>
            <div class="form-group mydate">
                <input size="22" type="text" id="startDate" class="form-control"
                       placeholder="开始时间">
                <input size="22" type="text" id="endDate" class="form-control" placeholder="结束时间">
            </div>
            <div class="form-group button-group">
                <a class="btn face-button" onclick="getMessage3()" id="btn-query"><span class="fa fa-search"
                                                                                             aria-hidden="true"></span>搜索
                </a>
                <a class="btn face-button2" onclick="reset3()" id="btn-reset"><span class="fa fa-search"
                                                                                         aria-hidden="true"></span>重置
                </a>
            </div>
        </div>
    </div>
    <div class="row tablediv">
        <table id="proportion"

               data-pagination="true" data-side-pagination="server"
               data-page-list="[10, 20, 50, 100, ALL]" data-page-size="10"
               class="table table-striped face-table">
            <thead>
            <tr>
                <th data-field="date" data-halign="center" data-align="center" data-valign="middle">起始时间</th>
                <th data-field="plat" data-halign="center" data-align="center" data-valign="middle">平台比中数</th>
                <th data-field="platcount" data-halign="center" data-align="center" data-valign="middle">平台比对数</th>
                <th data-field="platper" data-halign="center" data-align="center" data-valign="middle">平台准确率</th>
                <th data-field="app" data-halign="center" data-align="center" data-valign="middle">app比中数</th>
                <th data-field="appcount" data-halign="center" data-align="center" data-valign="middle">app比对量</th>
                <th data-field="appper" data-halign="center" data-align="center" data-valign="middle">app准确率</th>
            </tr>
            </thead>
            <tbody id="countBody3">
            </tbody>
        </table>
    </div>
</div>
<script src="./template/ratioStatistics.js" charset="utf-8"></script>
