<!-- 服务状态 -->

<div class="container-fluid face-table-group">
    <table id="serviceTable" class="table table-bordered face-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>服务名称</th>
            <th>IP</th>
            <th>端口</th>
            <th>用户名</th>
            <th>密码</th>
            <th>用户状态</th>

        </tr>
        </thead>
        <tbody id="servicebody">

        </tbody>
    </table>
</div>

<script type="text/javascript" src="./template/serviceState.js"></script>
