
<script src="js/city/distpicker.js"></script>
<!-- 比中战果统计 以下-->
<div id="backModel"></div>
<div class="container-fluid face-table-group">
    <div class="row">
        <div class="form-inline face-form" style="margin-bottom:-44px;">
            <div class="form-group">
                <select id="u_unit_id" class="form-control">
                </select>
            </div>
            <div class="form-group">

                <div data-toggle="distpicker" id="distpicker">
                    <select class="form-control" name="province"></select>
                    <select class="form-control" name="city"></select>
                    <select class="form-control" name="area"></select>
                </div>
            </div>
            <div class="form-group">
                <select id="timestatus" class="form-control" onchange="changeTime()">

                    <option value="0">按年统计</option>
                    <option value="1">按月统计</option>
                    <option  value="2">按日统计</option>

                </select>
            </div>
            <div class="form-group mydate">
                <input size="22" type="text" id="startDate" class="form-control"
                       placeholder="开始时间">
                <input size="22" type="text" id="endDate" class="form-control" placeholder="结束时间">
            </div>
            <div class="form-group button-group">
                <a class="btn face-button" onclick="getMessage3()" id="btn-query"><span class="fa fa-search"
                                                                                        aria-hidden="true"></span>搜索
                </a>
                <a class="btn face-button2" onclick="reset3()" id="btn-reset"><span class="fa fa-search"
                                                                                    aria-hidden="true"></span>重置
                </a>
            </div>
        </div>
    </div>
    <div class="row tablediv">
        <table id="proportion"

               data-pagination="true" data-side-pagination="server"
               data-page-list="[10, 20, 50, 100, ALL]" data-page-size="10"
               class="table table-striped face-table">
            <thead>
            <tr>
                <th data-field="date" data-halign="center" data-align="center" data-valign="middle">起始时间</th>
                <th data-field="harmcount" data-halign="center" data-events="harmDetail" data-align="center"
                    data-valign="middle">有害
                </th>
                <th data-field="unharmcount" data-halign="center" data-events="unharmDetail" data-align="center"
                    data-valign="middle">无害
                </th>
                <th data-field="unknowncount" data-halign="center" data-events="unknownDetail" data-align="center"
                    data-valign="middle">未知
                </th>

            </tr>
            </thead>
            <tbody id="proportionbd">
            </tbody>
        </table>
    </div>
</div>
<!--点击查询次数弹窗 -->
<div class="modal fade face-modal" id="countModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="fa fa-times" aria-hidden="true"></span></button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <table class="table table-bordered text-center">
                        <thead>
                        <tr>
                            <td>姓名</td>
                            <td>证件号</td>
                            <td>车牌号</td>
                            <td>手机号</td>
                            <td>是否有害</td>
                            <td>处置方式</td>
                            <td>比中者</td>
                            <td>比中单位</td>
                            <td>比中者所属区域</td>
                            <td>比中时间</td>
                        </tr>
                        </thead>
                        <tbody id="countbody">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="./template/statisticsVictories.js" charset="utf-8"></script>
