
<style type="text/css">
	.bootstrap-table .btn i{
		color:#333;
	}
</style>
<div class="container-fluid face-table-group">
    <div class="row">
        
    </div>
    <div class="row">
        <table class="table table-striped face-table" id="systemStateTable" data-show-header="true" data-show-refresh="false" data-pagination="true" data-side-pagination="server" data-id-field="uid" data-page-list="[15]" data-page-size="15">
                <thead>
                  <tr>
                    <th data-field="hno" data-halign="center" data-align="center" data-valign="middle">
                      	序号
                    </th>
                    <th data-field="hname" data-halign="center" data-align="center" data-valign="middle">
                      	平台用户总量
                    </th>
                    <th data-field="tel" data-halign="center" data-align="center" data-valign="middle">
                     	 在线总量
                    </th>
                    <th data-field="size" data-halign="center" data-align="center" data-valign="middle">
                      	检索总量
                    </th>
                    <th data-field="htype" data-halign="center" data-align="center" data-valign="middle" data-formatter="houseFormatter">
                     	 用户登录次数
                    </th>
                    <th data-field="poor" data-halign="center" data-align="center" data-valign="middle" data-formatter="poolFormatter">
                      	告警总量
                    </th>
                  </tr>
                </thead>
                <tbody id="tableBody"></tbody>
              </table>
    </div>
</div>
<script src="./template/systemState.js" charset="utf-8"></script>