
<style type="text/css">
	.bootstrap-table .btn i{
		color:#333;
	}
	.form-inline.face-form .city-picker-selector {
		height: 34px;
	}

	.form-inline.face-form .selector-item {
		width: 120px;
		height: 100%;
		border-radius: 4px;
	}

	.form-inline.face-form .selector-item .selector-name {
		color: #333;
		height: 100%;
		font-size: 14px;
		text-decoration: none;
		line-height: 34px;
	}
	.systemState .bootstrap-table tbody tr{
		cursor: pointer;
	}
</style>

<div class="container-fluid face-table-group systemState">
    <div class="row">
    	<div class="form-inline face-form" id="mainSearch">
    			<div class="form-group">
						<div class="city-picker-selector form-group" id="city-picker-search">
							<div class="selector-item storey" data-index="0"></div>
							<div class="selector-item storey" data-index="1"></div>
							<div class="selector-item storey" data-index="2"></div>
						</div>
	        </div>
					<div class="form-group">
						<select id="uUnitId" class="form-control" style="width:110px;">
		          <option value="">机构</option>
		        </select>
					</div>
	        <div class="form-group">
	            <a class="btn  face-button" onclick="getTable()" id="search">
	                <span class="fa fa-search"></span> 搜索
	            </a>
	        </div>
	        <div class="form-group">
	            <a class="btn face-button2" onclick="reset()" id="reset">
	                <span class="fa fa-repeat"></span> 重置
	            </a>
	        </div>
    	</div>

    </div>
    <div class="row">
        <table class="table table-striped face-table" id="systemStateTable" data-show-header="true" data-show-refresh="false" data-pagination="true" data-side-pagination="server" data-id-field="uid" data-page-list="[15]" data-page-size="15">
                <thead>
                  <tr>
                    <!-- <th data-field="hno" data-halign="center" data-align="center" data-valign="middle">
                      	序号
                    </th> -->
                    <th data-field="usercount" data-halign="center" data-align="center" data-valign="middle">
                      	平台用户总量
                    </th>
                    <th data-field="onlinecount" data-halign="center" data-align="center" data-valign="middle">
                     	 在线总量
                    </th>
                    <th data-field="retrievecount" data-halign="center" data-align="center" data-valign="middle">
                      	人脸检索总量
                    </th>
										<th data-field="idcardcount" data-halign="center" data-align="center" data-valign="middle">
                      	身份检索总量
                    </th>
										<th data-field="facecount" data-halign="center" data-align="center" data-valign="middle">
                      	人脸对比总量
                    </th>
                    <th data-field="userlogincount" data-halign="center" data-align="center" data-valign="middle">
                     	 用户登录次数
                    </th>
                    <th data-field="warncount" data-halign="center" data-align="center" data-valign="middle">
                      	告警总量
                    </th>
                  </tr>
                </thead>
              </table>
    </div>
</div>
<div class="modal fade face-modal" id="detialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span
                        class="fa fa-times" aria-hidden="true"></span></button>
                <h4 class="modal-title text-center">查询次数</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table data-pagination="true" data-side-pagination="server" class="table table-bordered" id="detialTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./template/systemState.js" charset="utf-8"></script>
