<div class="container-fluid face-table-group">
    <div class="row">
        
    </div>
    <div class="row">
        <table id="table"
           data-toolbar="#toolbar"
           data-search="true"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-show-export="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-minimum-count-columns="2"
           data-show-pagination-switch="true"
           data-pagination="true"
           data-id-field="id"
           data-page-list="[10, 25, 50, 100, ALL]"
           data-show-footer="false"
           data-side-pagination="server"
           data-url="./examples/bootstrap_table/data"
           data-response-handler="responseHandler">
    	</table>
    </div>
</div>
<script src="./template/systemState.js" charset="utf-8"></script>