<!-- 用户管理 -->
<style type="text/css">

</style>

<div id="backModel"></div>
<div class="container-fluid">
	<div class="row">
		<form class="form-inline" id="mainSearch">
			<div class="form-group">
				<select id="uUnitId" class="form-control">
				  <option>单位名称</option>
				</select>
			</div>
			<div class="form-group">
				<input type="text" id="uRealName" class="form-control" placeholder="用户名">
			</div>
			<div class="form-group">
				<input type="text" id="policeType" class="form-control" placeholder="警种">
			</div>
			<div class="form-group">
				<input type="text" id="approval" class="form-control" placeholder="审批人">
			</div>
			<div class="form-group">
				<select id="uRoleId" class="form-control">
          <option value="">角色</option>
        </select>
			</div>
			<div id="city-picker-search" class="city-picker-selector form-group">
				<div class="selector-item storey" data-index="0"></div>
				<div class="selector-item storey" data-index="1"></div>
				<div class="selector-item storey" data-index="2"></div>
			</div>
			<div class="form-group">
				<button id="search" class="btn face-button" onclick="getTable()">
            <span class="fa fa-search"></span>搜索
        </button>
			</div>
			<div class="form-group">
				<button id="reset" class="btn face-button" onclick="reset()">
						<span class="fa fa-search"></span>重置
				</button>
			</div>
			<div class="form-group">
				<button id="search" class="btn face-button" onclick="getTable()">
						<span class="fa fa-search"></span>新建
				</button>
			</div>
			<div class="form-group">
				<button id="search" class="btn face-button" onclick="getTable()">
						<span class="fa fa-search"></span>批量删除
				</button>
			</div>
			<div class="form-group">
				<button id="search" class="btn face-button" onclick="getTable()">
						<span class="fa fa-search"></span>批量解绑
				</button>
			</div>
			<div class="form-group">
				<button id="search" class="btn face-button" onclick="getTable()">
						<span class="fa fa-search"></span>批量修改
				</button>
			</div>
		</form>
		<form class="form-inline" enctype="multipart/form-data">
			<div class="form-group">
				<input type="file" class="form-control" accept=".xlsx" name="file" />
			</div>
			<div class="form-group">
				<button type="button" class="pcode btn face-button" onclick="doUpload()">
						<i class="fa fa-arrow-up"></i> 导入
				</button>
			</div>
		</form>
	</div>
	<div class="row">
		<table id="userTable" class="table table-striped face-table"><table>
	</div>
</div>
<script type='text/javascript' src="./template/userManagement0.js" charset='utf-8'></script>
